{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ directory }}</h1>
    <ul>
        {% for filename, feature in features %}
            <li>
                <a href="http://{{ baseUrl }}/{{ baseDirectory }}directories/{{ directory }}/{{ filename }}">
                    {{ feature.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
