{% import 'feature-macros.html.twig' as macros %}
{% import 'tag-macros.html.twig' as tagmacros %}
{% extends "base.html.twig" %}

{% block body %}
    <p>
        {% for tag in feature.getTags() %}
            {{ tagmacros.tag(tag) }}
        {% endfor %}
    </p>
    <h1>{{ feature.getTitle() }}</h1>
    <p>{{ feature.getDescription()|nl2br }}</p>
    {% for scenario in feature.getScenarios() %}
        <p>
            {% for tag in scenario.getTags() %}
                {{ tagmacros.tag(tag) }}
            {% endfor %}
        </p>
        <h3>{{ scenario.getTitle() }}</h3>
        {% if scenario.getNodeType() == 'Outline' %}
            {% for example in scenario.getExamples() %}
                <h4>Example #{{ loop.index }}</h4>
                {{ macros.scenarionode(feature, example) }}
            {% endfor %}
        {% else %}
            {{ macros.scenarionode(feature, scenario) }}
        {% endif %}
        <hr/>
    {% endfor %}
{% endblock %}
