{% macro tablenode(table) %}
    <table class="table table-condensed">
        {% for row in table.rows %}
        {% if loop.first %}
        <thead>
        <tr>
            {% for cell in row %}
                <th>{{ cell }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% else %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endmacro %}

{% macro stepnode(step) %}
    {% import _self as macros %}
    <dt>{{ step.keyword }}</dt>
    <dd>
        {{ step.text }}

        {% if step.hasArguments %}
            {% for argument in step.arguments %}
                {% if argument.nodeType == 'Table' %}
                    {{ macros.tablenode(argument) }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </dd>
{% endmacro %}

{% macro render_steps(steps) %}
    {% import _self as macros %}
        <dl class="dl-horizontal">
            {% for step in steps %}
                {{ macros.stepnode(step) }}
            {% endfor %}
        </dl>
{% endmacro %}
