{% macro tag(tobase, tag) %}
    <a href="{{ tobase }}tags/{{ tag }}.html">@{{ tag }}</a>
{% endmacro %}

{% macro tagCount(tobase, tag, count) %}
    <a href="{{ tobase }}tags/{{ tag }}.html">@{{ tag }} ({{ count }})</a>
{% endmacro %}
