{% macro tag(relativePath, tag) %}
    <a href="{{ relativePath }}tags/{{ tag }}.html">@{{ tag }}</a>
{% endmacro %}

{% macro tagCount(relativePath, tag, count) %}
    <a href="{{ relativePath }}tags/{{ tag }}.html">@{{ tag }} ({{ count }})</a>
{% endmacro %}
